<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/custom-style.css">
  </head>
  <body style="background-color: #f9fafc;">
    <div class="container-fluid" style="margin-top: 50px;">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div>
            <h1 class="display-4">We are
              <img src="/assets/cuurios-logo.png" class="figure-img img-fluid rounded" alt="The logo of Cuurios">

            </h1>
            <h2 class="lead">{{ site.description | default: site.github.project_tagline }}</h2>

            <hr class="my-4">
            <p>
              <ul  class="list-group" id="mission-statements">
                <li class="list-group-item"><svg class="align-bullets" width="20" height="20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="rgb(11,142,54)" alignment-baseline="middle"/>
                                            </svg>  We are Cuurios and want to know what drives the customer.
                </li>
                <li class="list-group-item"><svg class="align-bullets" width="20" height="20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                  <circle cx="10" cy="10" r="10" fill="rgb(18, 161, 154)" />
                                                  </svg>  We are Cuurios and we are innovation accelerators.
                </li>
                <li class="list-group-item">
                                              <svg class="align-bullets"  width="20" height="20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="10" cy="10" r="10" fill="rgb(162,24,81)" />
                                              </svg>  We are Cuurios and we believe in innovative software solutions.
                </li>
                <li class="list-group-item">
                                              <svg class="align-bullets"  width="20" height="20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="10" cy="10" r="10" fill="rgb(243,146,0)" />
                                                </svg>  We are Cuurios and we love to pioneer.
                </li>

              </ul>


            </p>


          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Interested?
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body" style ="display: block;">
              To contact us, send us an email at <a class="display:inline;" href="mailto:info@cuurios.com?Subject=Contact%20request"  target="_top">info@cuurios.com</a>, we'll answer your request as soon as possible!    </div>
          </div>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
